body{
    font-size: 1.2em;
    font-family: 'Sen', sans-serif;
    background-image: url('../img/bot-back.jpg');
    
}
#container{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(63, 151, 151);
    margin-top:62px;
}
.panel{
    max-width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;

}
button{
    background: rgb(113, 196, 221);
    height: 3em;
    width: 80%;
    margin-bottom: 1.5em;
    color: white;
    font-size: 0.8em;
    opacity: 1;
    border:none;
    border-radius: 10px;
}
input{
    border-radius: 10px;
    width: 80%;
    height: 4em;
    text-align: center;
}

.activeButton{
    background: green;
}

#panelCont {
    display:flex;
    flex-wrap: wrap;
}
/* #button-section{
    display: flex;
} */
